<?xml version="1.0" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets xsi:type="AsyncWrapper">
    <!-- 写日志到文件 -->
    <!--
   {longdate}是长时间2017-08-09 23：50：00
   {logger}获取的是命名空间和类
   {message}是记录信息
   {basedir}是项目所在地址
   {shortdate}短时间
   rchiveFilrName:是设置当文件达到一定大小值设定后 自动归档的文件名称
   archiveAboveSize： 是字节大小，（测试后发现的）
   archiveNumbering：归档文件方式 Rolling：递增，log1,log2
   concurrentWrites：是否允许使用通过多个进程的方式，将日志信息并行写入文件中
   keepFileOpen：保持文件一直开启，方便打开关闭等操作，提高性能
   maxArchiveFiles:设置归档文档的数量，默认9个
   -->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target name="file" xsi:type="File" encoding="utf-8"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${uppercase:${level}}] ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace} ${exception}"
              fileName="${basedir}/Log/${date:format=yyyyMMdd}.log"  
              archiveFileName="${basedir}/Log/archives/log.{#####}.txt"
              archiveAboveSize="404800000" 
              archiveNumbering="Rolling"
              concurrentWrites="false" 
              keepFileOpen="true" 
              maxArchiveFiles ="7" 
              />
    </target>
  </targets>
  <rules>
    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <!--DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>